<!-- <app-compA></app-compA> -->
<!-- <app-compB></app-compB> -->
 <app-compC></app-compC>
<!--
<h1>Examples of ngFor</h1>

<ul>
  <li *ngFor = "let Employee of EmployeeName" >{{Employee}}</li>
  
</ul>

<ul>
  <li *ngFor = "let emp of EmployeeDetails">
    <strong>{{emp.Name}}</strong> -
    <strong>{{emp.Salary}}</strong>
  </li>
</ul>

<table class="table table-bordered table-striped">
  <thead class="table-primary">
   <tr>
    <th>Sr. No</th>
    <th>Employee Name</th>
    <th>Employee Salary</th>
    <th>Salary</th>
   </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let Emp of EmployeeDetails; let i = index'>
      <td>{{i+1}}</td>
      <td>{{Emp.Name}}</td>
      <td>{{Emp.Salary}}</td>
      <td>{{Emp.Age}}</td>
    </tr>
  </tbody>
</table>


<div [ngSwitch] = 'customerId'>

  <div *ngSwitchCase = '10'>
    <ul>
      <li>Name: John</li>
      <li>Age: 21</li>
      <li>location: London</li>
    </ul>
  </div>
  <div *ngSwitchCase = '20'>
      <ul>
      <li>Name: Peter</li>
      <li>Age: 31</li>
      <li>location: UK</li>
    </ul>
  </div>
  <div *ngSwitchCase = '30'>
      <ul>
      <li>Name: Robert</li>
      <li>Age: 23</li>
      <li>location: Bangalore</li>
    </ul>
  </div>

  <div *ngSwitchDefault>
    <p>Invalid Input</p>
  </div>

</div>

<!-- Angular Control-Flow Blocks -->
 <!-- it determines which content appears in a template based on conditions,
 collections or matching values. 
 -->
