h1{
    background-color: green;
}
.card-title{
    background-color: #4f88ba;
    color: white;
}
.card-body{
    padding: 5;
}
.card-text{
    padding: 10px;
    text-align: justify;
}

.success{
    background-color: green;
    color: aliceblue;
    font-size: xx-large;
}
.failure{
    background-color: red;
    color: aliceblue;
    font-size: xx-large;
}
